<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <nav>
          <a href="{{ '/' | relative_url }}">Home</a> |
          <a href="{{ '/portfolio' | relative_url }}">Portfolio</a>
        </nav>
        <hr>
      </header>

      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
